*.iml
*.xml
problem.md
papers/IRPACK/Generating Optimal Grasps Under A Stress-Minimizing Metric.pdf
*.pyc
*.pyc
__pycache__/tools.cpython-36.pyc
noUsed/exp.py
exp.py
*.pyc
__pycache__/config.cpython-36.pyc
*.pyc
debug.py
bullet/Stability.py
bullet/PerObjectStability.py
bullet/MetricProblem.py
bullet/JointStability.py
bullet/Interface.py
bullet/bulletNote.md
__pycache__/tools.cpython-36.pyc
*.mp4
*.pt
distributed/*
transfer/*
bullet/*
noUsed/*
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
IRBPP.pdf
*.synctex.gz
*.pptx
logs/*
checkpoints/*
*.cpython-36.pyc
./data/mesh-fusion/examples/*
*.off.h5
*.off
#*.npz
./templates/sample-SIGGRAPH-techpaper-submission/IRBPP_tog.pdf
trajPictures/*
material/*
data/debug
data/pastdata
encoder/out
encoder/transfer
repos
Box*.obj
#data/final_data/*
encoder/*
data/pointClouds/*
data/pointClouds/*
data/final_data/IR_apc_mass/*
data/final_data/IR_concaveArea2_mass/*
data/final_data/past/*
data/final_data/tetris3D_tolerance_large_mass/*
data/final_data/IR_mix_mass/*

/picture/BlenderToolbox/*.png
/picture/BlenderToolbox/*/*.png
/picture/BlenderToolbox/*/*.obj
/picture/BlenderToolbox/*/*.ply
/picture/BlenderToolbox/meshes
*.png
picture/BlenderToolbox/tempdata/*
engines/*
commandMine.py
data/nomin
writting/IRBPP/main.pdf
animation/*
papers/*
templates/*
*copy
*.obj
data/final_data/*
*.npy
*.zip
data/*
writting/*
baselines/*
todo.txt